<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaWgzBJO-LhjGZt_EAuw5I1_RvXAc5aDk</string>
	<key>GCM_SENDER_ID</key>
	<string>729007544286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hBionic.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>h-bionic</string>
	<key>STORAGE_BUCKET</key>
	<string>h-bionic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729007544286:ios:bf634ef7a1c7398e1a6f4f</string>
</dict>
</plist>